.home{
    background-image: url("../img/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.nav-item{
    padding-right: 30px;
    font-size: 16px;
    font-weight:500;
    position: relative;
}
.nav-link{
    color: #fff !important;
}
.navbar{
    z-index: 2000;
    position: fixed;
    left: 0;
    right: 0;
}
.homeLayer{
    position: absolute;
    background-color: rgb(0, 0, 0 , 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.homeLayer h1{
    font-size: 70px;
}
.homeContent p::after{
    content: "Designer";
    color: #fff;
    width: 100%;
    animation-name:change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.about h2::after{
    content:"";
    width: 20%;
    height: 5px;
    background-color: #0078ff;
    position: absolute;
    top: 100%;
    left: 0;
}

.sectionHeader::after{
    content: "";
    width: 3%;
    height: 5px;
    background-color: #0078ff;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
}

.services .item i.icon{
    width: 100px;
    height: 100px;
    color: black;
    box-shadow: 0px 0px 0px 10px #0078ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: all 0.5s;
}

.services .item:hover i.icon{
    background-color: #0078ff;
    box-shadow: 0px 0px 0px 10px #0077ff5f;
    color: #fff;
}

.survey{
    background-image: url("../img/counters-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
.surveyLayer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 119, 255, 0.5);
    width: 100%;
    height: 100%;
}
.survey .row{
    position: relative;
    z-index: 1000;
}
.survey .item i.icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0px 0px 0px 10px #cde1f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.portfolio a{
    width: 30px;
    height: 30px;
    border: 3px solid #0078ff;
}
.portfolio .card,
.portfolio .imgContainer{
    overflow: hidden;
}
.portfolio .imgContainer img{
    transition: all 1s;
}
.portfolio .imgContainer:hover img{
    transform: scale(1.2,1.2);
}
.portfolio .card-text{
    font-size: 13px !important;
}

.feedback{
    background-image: url("../img/overlay-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.feedbackLayer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 119, 255, 0.5);
    width: 100%;
    height: 100%;
}
.feedback .content{
    position: relative;
    z-index: 1000;
}
.card-footer img{
    width: 15%;
}

.devForm{
    background-image: url("../img/overlay-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.devFormLayer{
    background-color: rgba(0, 119, 255, 0.5);
    width: 100%;
    height: 100%;
}

.devForm form button:hover{
    box-shadow: 0px 0px 0px 5px #0077ff5f;
}
.devForm h1::after{
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    background-color: #0078ff;
    height: 3px;
    width: 30%;
}
.devForm .icon{
    width: 30px;
    height: 30px;
    border: 3px solid #0078ff;
}
.devForm .icon{
    width: 40px;
    height: 40px;
    color: black;
    box-shadow: 0px 0px 0px 2px #0078ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: all 0.5s;
}

.devForm .icon:hover{
    background-color: #0078ff;
    box-shadow: 0px 0px 0px 2px #0077ff5f;
    color: #fff;
}

.footer{
    background-color: #0062d3;
}


@keyframes change {
    0%{
        content: "Des|";
    }
    5%{
        content: "Design|";
    }
    10%{
        content: "Designer|";
    }
    15%{
        content: "Design|";
    }
    20%{
        content: "Desi|";
    }
    25%{
        content: "De|";
    }
    30%{
        content: "Deve|";
    }
    35%{
        content: "Develo|";
    }
    40%{
        content: 'Developer|';
    }
    45%{
        content: "Develop|";
    }
    50%{
        content: "Devel|";
    }
    50%{
        content: "Dev|";
    }
    55%{
        content: "|";
    }
    60%{
        content: "Free|";
    }
    65%{
        content: "Freelan|";
    }
    65%{
        content: "Freelancer|";
    }
    70%{
        content: "Freelan|";
    }
    75%{
        content: "Free|";
    }
    80%{
        content: "|";
    }
    85%{
        content: "pho|";
    }
    90%{
        content: "photo|";
    }
    95%{
        content: "photogra|";
    }
    100%{
        content: "photographer|";
    }
}
